@font-face {
  font-family: Asap-Regular;
  src: url("../fonts/asap/Asap-Regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: myriad;
  src: url("../fonts/myriad/myriad.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: ptSans;
  src: url("../fonts/pt-sans/pt-sans.regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: SegoeWP;
  src: url("../fonts/SegoeWP/SegoeWPN.ttf");
  font-style: normal;
  font-weight: normal; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

.content-Wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto; }

.orange {
  background-color: #ec9e03; }

.welcome-Screen {
  background-image: url("../img/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .welcome-Screen .content-Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .welcome-Screen header {
    padding-top: 80px; }
    .welcome-Screen header .left .logo-Wrap {
      display: flex;
      align-items: center;
      color: #fff; }
      .welcome-Screen header .left .logo-Wrap p {
        text-transform: uppercase;
        font-size: 3rem;
        font-style: italic;
        font-family: Asap-Regular;
        text-transform: uppercase; }
        .welcome-Screen header .left .logo-Wrap p span {
          font-style: normal;
          font-size: 0.9rem;
          letter-spacing: .9px;
          color: rgba(255, 255, 255, 0.6); }
    .welcome-Screen header ul {
      box-shadow: -6px -6px 0px 0px rgba(245, 197, 6, 0.5), -3px -3px 0px 0px rgba(245, 197, 6, 0.7);
      background-color: #f5c506;
      display: flex;
      justify-content: space-between; }
      .welcome-Screen header ul li {
        list-style-type: none;
        padding: 5px 25px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center; }
        .welcome-Screen header ul li:nth-child(1) {
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
        .welcome-Screen header ul li i {
          margin-right: 10px;
          font-size: 20px; }
  .welcome-Screen .welcome-Content {
    padding: 50px  0; }
    .welcome-Screen .welcome-Content .content-Wrapper h1 {
      font-family: Asap-Regular;
      margin: 0 auto;
      color: #f5c506;
      text-align: center;
      text-transform: uppercase;
      font-size: 4.8rem; }
    .welcome-Screen .welcome-Content .content-Wrapper span {
      color: #fff; }
    .welcome-Screen .welcome-Content .content-Wrapper img {
      max-width: 450px; }

.icon-Area {
  background-color: rgba(245, 245, 245, 0.6); }
  .icon-Area .content-icons ul {
    display: flex; }
    .icon-Area .content-icons ul li {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      text-align: center;
      list-style-type: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
      .icon-Area .content-icons ul li:nth-last-child(1) {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .icon-Area .content-icons ul li i {
        padding-bottom: 10px;
        color: #f5c506;
        font-size: 70px; }
      .icon-Area .content-icons ul li span {
        text-align: center;
        text-transform: uppercase;
        font-family: myriad;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.8); }

.gallery {
  background-image: url("../img/3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .gallery .gallery-wrapper .title {
    padding: 30px 0; }
    .gallery .gallery-wrapper .title .text-gallery {
      font-size: 23px;
      font-family: ptSans;
      color: white;
      text-transform: uppercase; }
  .gallery .gallery-wrapper .video-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding-bottom: 150px; }
    .gallery .gallery-wrapper .video-info .plus {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      bottom: 20px;
      right: 20px; }
    .gallery .gallery-wrapper .video-info .left {
      display: flex; }
      .gallery .gallery-wrapper .video-info .left .orange {
        display: flex;
        align-items: center;
        padding: 0 45px;
        position: relative; }
        .gallery .gallery-wrapper .video-info .left .orange .orange-text {
          font-size: 20px;
          font-family: SegoeWP;
          color: rgba(255, 255, 255, 0.6); }
      .gallery .gallery-wrapper .video-info .left .video img {
        max-width: 300px; }
    .gallery .gallery-wrapper .video-info .right {
      display: flex;
      align-items: center; }
      .gallery .gallery-wrapper .video-info .right .orange {
        padding: 0 45px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .gallery .gallery-wrapper .video-info .right .orange .tw-tw {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.6); }
        .gallery .gallery-wrapper .video-info .right .orange i {
          font-size: 145px;
          color: #c18000;
          padding: 0 30px; }

.instructions {
  background-image: url("../img/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .instructions .instructions-wrapper {
    display: flex;
    flex-direction: column; }
    .instructions .instructions-wrapper .title-Text {
      margin-top: 18px;
      font-family: ptSans;
      text-transform: uppercase;
      font-size: 2.4rem;
      color: #f5c506; }
    .instructions .instructions-wrapper .instructions-content {
      display: flex; }
      .instructions .instructions-wrapper .instructions-content .left {
        margin-top: 30px; }
        .instructions .instructions-wrapper .instructions-content .left img {
          margin-right: 20px; }
          .instructions .instructions-wrapper .instructions-content .left img:first-child {
            max-width: 250px; }
          .instructions .instructions-wrapper .instructions-content .left img:nth-child(2) {
            max-width: 100px; }
          .instructions .instructions-wrapper .instructions-content .left img:last-child {
            max-width: 60px; }
      .instructions .instructions-wrapper .instructions-content .right {
        margin-left: 100px;
        margin-top: 50px; }
        .instructions .instructions-wrapper .instructions-content .right li {
          margin-bottom: 10px;
          color: #f5c506; }
          .instructions .instructions-wrapper .instructions-content .right li span {
            color: rgba(245, 245, 245, 0.6);
            font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  .content-Wrapper {
    max-width: 95vw; }
  .welcome-Screen header {
    padding: 0; }
    .welcome-Screen header .content-Wrapper {
      max-width: 100vw;
      align-items: stretch; }
      .welcome-Screen header .content-Wrapper .left {
        width: 25%;
        background-color: #595959; }
        .welcome-Screen header .content-Wrapper .left .logo-Wrap {
          padding: 15px 0;
          justify-content: center; }
          .welcome-Screen header .content-Wrapper .left .logo-Wrap p {
            font-size: 1.8rem; }
            .welcome-Screen header .content-Wrapper .left .logo-Wrap p span {
              display: none; }
          .welcome-Screen header .content-Wrapper .left .logo-Wrap img {
            margin-right: 10px; }
      .welcome-Screen header .content-Wrapper .right {
        width: 75%;
        box-shadow: none; }
        .welcome-Screen header .content-Wrapper .right li {
          padding: 0;
          font-size: 1.8rem;
          width: 33%; }
          .welcome-Screen header .content-Wrapper .right li:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .welcome-Screen .welcome-Content {
    padding: 0; }
    .welcome-Screen .welcome-Content .content-Wrapper {
      max-width: 100vw; }
      .welcome-Screen .welcome-Content .content-Wrapper img {
        width: 100%;
        max-width: 100%; }
      .welcome-Screen .welcome-Content .content-Wrapper h1 {
        display: none; }
  .icon-Area {
    background-image: url("../img/mob-nav-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto; }
    .icon-Area .content-Wrapper {
      max-width: 100vw; }
      .icon-Area .content-Wrapper ul li {
        border-left: 0; }
  .gallery {
    background-image: none; }
    .gallery .content-Wrapper {
      max-width: 100vw; }
    .gallery .gallery-wrapper .title {
      display: none; }
    .gallery .gallery-wrapper .video-info {
      flex-direction: column;
      padding: 0; }
      .gallery .gallery-wrapper .video-info .left {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px; }
        .gallery .gallery-wrapper .video-info .left .orange {
          margin-right: 10px; }
        .gallery .gallery-wrapper .video-info .left .video {
          margin-left: 10px; }
      .gallery .gallery-wrapper .video-info .right .orange {
        padding: 40px 0;
        margin-top: 10px;
        width: 100%;
        background-color: #f5c506; }
        .gallery .gallery-wrapper .video-info .right .orange i {
          font-size: 20.7rem; }
        .gallery .gallery-wrapper .video-info .right .orange span {
          display: none; }
  .instructions .instructions-wrapper {
    align-items: center; }
    .instructions .instructions-wrapper .title-Text {
      font-size: 4.8rem; }
    .instructions .instructions-wrapper .instructions-content {
      flex-direction: column; }
      .instructions .instructions-wrapper .instructions-content .left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; }
        .instructions .instructions-wrapper .instructions-content .left img:first-child {
          max-width: 350px; }
        .instructions .instructions-wrapper .instructions-content .left img:nth-child(2) {
          padding-bottom: 40px;
          max-width: 170px; }
        .instructions .instructions-wrapper .instructions-content .left img:last-child {
          padding-bottom: 40px;
          max-width: 100px; }
      .instructions .instructions-wrapper .instructions-content .right {
        display: none; } }
