@font-face {
  font-family: Asap-Regular;
  src: url("../fonts/asap/Asap-Regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: myriad;
  src: url("../fonts/myriad/myriad.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: ptSans;
  src: url("../fonts/pt-sans/pt-sans.regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: SegoeWP;
  src: url("../fonts/SegoeWP/SegoeWPN.ttf");
  font-style: normal;
  font-weight: normal; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

.content-Wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto; }

.orange {
  background-color: #ec9e03;
  padding: 20px; }

.welcome-Screen {
  background-image: url("../img/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .welcome-Screen .content-Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .welcome-Screen header {
    padding-top: 80px; }
    .welcome-Screen header .left .logo-Wrap {
      display: flex;
      align-items: center;
      color: #fff; }
      .welcome-Screen header .left .logo-Wrap p {
        text-transform: uppercase;
        font-size: 3rem;
        font-style: italic;
        font-family: Asap-Regular;
        text-transform: uppercase; }
        .welcome-Screen header .left .logo-Wrap p span {
          font-style: normal;
          font-size: 0.9rem;
          letter-spacing: .9px;
          color: rgba(255, 255, 255, 0.6); }
    .welcome-Screen header ul {
      box-shadow: -6px -6px 0px 0px rgba(245, 197, 6, 0.5), -3px -3px 0px 0px rgba(245, 197, 6, 0.7);
      background-color: #f5c506;
      display: flex;
      justify-content: space-between; }
      .welcome-Screen header ul li {
        list-style-type: none;
        padding: 5px 25px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center; }
        .welcome-Screen header ul li:nth-child(1) {
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
        .welcome-Screen header ul li i {
          margin-right: 10px;
          font-size: 20px; }
  .welcome-Screen .welcome-Content {
    padding: 50px  0; }
    .welcome-Screen .welcome-Content .content-Wrapper h1 {
      font-family: Asap-Regular;
      margin: 0 auto;
      color: #f5c506;
      text-align: center;
      text-transform: uppercase;
      font-size: 4.8rem; }
    .welcome-Screen .welcome-Content .content-Wrapper span {
      color: #fff; }
    .welcome-Screen .welcome-Content .content-Wrapper img {
      max-width: 450px; }

.icon-Area {
  background-color: rgba(245, 245, 245, 0.6); }
  .icon-Area .content-Wrapper ul {
    display: flex;
    justify-content: flex-start; }
    .icon-Area .content-Wrapper ul li {
      list-style-type: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .icon-Area .content-Wrapper ul li:nth-child(n+2) {
        background-color: rgba(245, 245, 245, 0.6); }
      .icon-Area .content-Wrapper ul li:nth-last-child(1) {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .icon-Area .content-Wrapper ul li i {
        color: #f5c506;
        font-size: 70px; }
      .icon-Area .content-Wrapper ul li span {
        text-align: center;
        text-transform: uppercase;
        font-family: myriad;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.8); }

.gallery {
  background-image: url("../img/3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .gallery .content-Wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start; }
    .gallery .content-Wrapper .text-gallery {
      font-size: 23px;
      font-family: ptSans;
      color: white;
      text-transform: uppercase; }
  .gallery .content-Wrapper {
    display: flex;
    justify-content: flex-start; }
    .gallery .content-Wrapper .left {
      display: flex; }
      .gallery .content-Wrapper .left .orange .orange-text {
        font-size: 19px;
        font-family: SegoeWP;
        color: rgba(255, 255, 255, 0.6); }
      .gallery .content-Wrapper .left .video img {
        max-width: 250px; }
    .gallery .content-Wrapper .right .orange {
      margin-left: 30px; }
      .gallery .content-Wrapper .right .orange i {
        font-size: 145px;
        color: #c18000;
        padding: 0 30px; }

.instructions {
  background-image: url("../img/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .instructions .title-Text {
    margin-top: 20px;
    font-family: ptSans;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #f5c506; }
  .instructions .content-Wrapper {
    display: flex; }
    .instructions .content-Wrapper .left {
      margin-top: 30px; }
      .instructions .content-Wrapper .left img {
        margin-right: 20px; }
        .instructions .content-Wrapper .left img:first-child {
          max-width: 250px; }
        .instructions .content-Wrapper .left img:nth-child(2) {
          max-width: 100px; }
        .instructions .content-Wrapper .left img:last-child {
          max-width: 60px; }
    .instructions .content-Wrapper .right {
      margin-left: 100px;
      margin-top: 50px; }
      .instructions .content-Wrapper .right li {
        margin-bottom: 10px;
        color: #f5c506; }
        .instructions .content-Wrapper .right li span {
          color: rgba(245, 245, 245, 0.6);
          font-size: 1.2rem; }
