// common styles
@font-face {
	font-family: Asap-Regular;
	src: url("../fonts/asap/Asap-Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: myriad;
	src: url("../fonts/myriad/myriad.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:ptSans;
	src: url("../fonts/pt-sans/pt-sans.regular.ttf");
	font-style: normal;
	font-weight: normal;
}

$yellow:#f5c506;
$white:#fff;
$h1:3rem;
$logoFont:Asap-Regular;
$font-Icon:myriad;
$font-Instructions:ptSans;
p{
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;

}
.content-Wrapper {
	max-width:900px;
	width: 100%;
	margin: auto; 
}
.welcome-Screen {
	background-image: url("../img/1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.content-Wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;		
	}
	header {
		padding-top: 80px;
		.left {
			.logo-Wrap {
				display: flex;
				align-items:center;
				color: $white;
				p {
					text-transform: uppercase;
					font-size:$h1;
					font-style: italic;
					font-family: $logoFont;
					text-transform: uppercase;
					span {
						font-style: normal;
						font-size: $h1*.3;
						letter-spacing: .9px;
						color:rgba(255,255,255,.6);
					}
				}
			}
		}
		ul {
		    box-shadow: -6px -6px 0px 0px rgba(245,197,6,0.5),
						-3px -3px 0px 0px rgba(245,197,6,0.7);
			background-color: $yellow;
			display: flex;
			justify-content: space-between;
			li {
				 list-style-type: none;
				 padding: 5px 25px;
				 text-transform: uppercase;
				 color: rgba(0,0,0,.4);
				 display: flex;
				 align-items: center;
				 justify-content: center;
				 &:nth-child(1){
					 border-right:1px solid rgba(0,0,0,.1);
				 }
				 i {
					 margin-right: 10px;
					 font-size: 20px;
				 }				 
			}
		}
	}
.welcome-Content {
	padding: 50px  0 ;			
	.content-Wrapper{
		h1{
			font-family: $logoFont;
			margin: 0 auto;
			color: $yellow;
			text-align: center;
			text-transform: uppercase;
			font-size: $h1*1.6;
		}
		span{
			color: white;	
		}
		img {
			max-width: 450px;
		}
	}
}	
}

.icon-Area {	
	background-color: rgba(245,245,245,.6);
	.content-Wrapper {	
		ul {
			display: flex;
			justify-content: flex-start;
			li {
				list-style-type: none;
				border-left:1px solid rgba(0,0,0,.1);
				display:flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				&:nth-child(n+2){
					background-color: rgba(245,245,245,.6);
				 }
				 &:nth-last-child(1){
					 border-right: 1px solid rgba(0,0,0,.1);
				 }
				 i {
					 color:$yellow;	
					 font-size: 70px;
				 }	
				 span {
					text-align: center;
					text-transform: uppercase;
					font-family: $font-Icon;
					font-size: $h1*0.6;
					color: rgba(0,0,0,.8);
				 }
			 }
		}	
	}
}
.gallery {
	background-image: url("../img/3.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.content-Wrapper {
			display:flex;
			padding-bottom: 100px;

			.imag1 {
				img{
					margin-top: 30px;			
					max-width: 500px;
				}
			}			
			.imag2 {
				img {
					margin:80px 0px 0px 40px;
					max-width: 250px;
				}
			}
	}
}
.instructions {
	background-image: url("../img/5.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.title-Text{
		margin-top: 20px;
		font-family: $font-Instructions;
		text-transform: uppercase;
		font-size: $h1*0.8;
		color:$yellow;			
	}
	.content-Wrapper {
		display: flex;
		.left {	
			margin-top:30px;
			img {
				margin-right: 20px;
				&:first-child{
					max-width: 250px;
				}
				&:nth-child(2){
					max-width: 100px;
				}
				&:last-child{
					max-width: 60px;
				}
			}
		}
			
			.right {
				margin-left: 100px;
			margin-top:50px;
				li {
					margin-bottom: 10px;
					color: $yellow;
				span{
					color: rgba(245,245,245,.6);
					font-size: $h1*0.4;
					}
				}
			}
	}
}



